@model dnd.Code.Models.ClassSpell

@{
    ViewBag.Title = "ClassSpells";
}

<style type="text/css">
    .cb-holder {
        display: inline-block;
        margin-top: 7px;
    }

    .cb-label {
        display: inline-block;
        margin: auto 8px auto 0px;
    }

    .multi-line {
        white-space: pre-line;
    }

    .k-textbox {
        max-width: 280px;
        width: 100%;
    }

    @@media(min-width: 1020px) {
        .descr {
            position: absolute;
            left: 50%;
            top: 170px;
            width: 50vw;
            max-width: 530px;
        }
    }

    .list {
        height: calc( 100% - 100px ) !important;
    }

    .body-content {
        height: calc( 100vh - 100px );
    }
</style>

<h2>ClassSpells</h2>

@Html.ListBoxFor(x => x.SelectedSpells, Model.AllSpells, new { @class = "list" })

